
{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
   
  </head>
  <body>
    <!--<div class="container">
      <div class="header">
        <h3 class="text-muted">Upload log file</h3>
      </div>
      <hr/>
      <div>
      
     
      </div>
      <br /><br />
      <div>
        <form action="parse" method="post" enctype="multipart/form-data">
            
           <div class="input-field col s9 m6">
            
            <select  name='parse'>
               <option value='logparse'>Logs Parsed</option>
               <option value='resource'>Resource requested</option>
               <option value='ips'>IPs accessing and their count</option>
               <option value='responseCode'>Response Code Count</option>
               <option value='avgResponseTime'>Average Response Time</option>
               <option value='bytesTrans'>Bytes Transferred</option>
               <option value='gmt'>IPs from same location(gmt)</option>
               <option value='getPost'>No. of GET and POST requests</option>
              
            </select>
          </div>

            <button class="btn waves-effect waves-light" type="submit" name="parse">Submit
   
            </button>
          
        </form>  
      </div>
    </div>-->
  </body>
</html>
{% endblock %}
 